.title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  padding: 4rem 0 0 0;
}

.OtherPrjtMain {
  display: flex;
  /* flex-direction: row; */
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.projectName {
  
}

.OtherPrjtDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 30%; */
  /* min-width: 70%; */
  max-width: 450px;
  padding: 15px;
  /* box-shadow: 0 5px 5px #666666; */
  border-radius: 10px;
  background-color: #3e495a8d;
  color: var(--LBI);
}

.projectName {
  font-size: 1.9rem;
  font-weight: 600;
  color: var(--LBI);
}

.innerDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.tools {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 0 0;
}

.toolImg {
  width: 30px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Prjtlinks {
  text-decoration: none;
}

.githubLink > div {
  font-weight: 600;
  color: var(--LBI)
}

.githubLink {
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  background-color: #666666;
  padding: 10px;
}

.githubLink:hover {
  cursor: pointer;
  background-color: rgb(136, 134, 134);
}

.githubLink > svg{
  width: 25px;
  height: 25px;
}

.morePrjectDiv {
  display: flex;
  justify-content: center;
}

.morePrjectDiv > a {
  text-decoration: none;
}

.moreProjBtn {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #666666;
  padding: 10px;
  border-radius: 10px;
  color: var(--LBI);
}

.moreProjBtn:hover {
  cursor: pointer;
  background-color: rgb(136, 134, 134);
}

@media only screen and (max-width: 1200px) {
  /* .OtherPrjtMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
}