.skillSet {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 100vh;
  padding: 4% 10% 0 10%;
  gap: 3rem;
}

.skillTitle {
  display: flex;
  flex-direction: column;
  /* gap: 140px; */
}

.skillTitle > div:first-child {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.skillSetDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.frontendDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.frontendDiv > div:first-child {
  color: var(--LBI);
  font-size: 30px;
  font-weight: 600;
}
.frontendDiv > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.skillDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.6rem;
  padding: 10px;
  border: 2px solid var(--Text);
  border-radius: 5px;
  min-width: 4.5rem;
  color: var(--LBI);
}

.skillImg {
  width: 30px;
}
