.homeDiv {
  display: flex;
  padding: 0 10%;
  gap: 5rem;
}

.homeLeftSide {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 1rem;
  font-size: 2rem;
  padding: 12rem 0;
}

.homeLeftSide > div:first-child {
  font-size: 1.6rem;
}

.homeLeftSide > div:nth-child(2) {
  font-size: 6rem;
  font-weight: 900;
  color: var(--LBI);
}

.homeLeftSide > div:nth-child(3) {
  font-size: 2rem;
  font-weight: 900;
  color: #bebdbd;
}

.homeRightSide {
  display: flex;
  /* justify-content: center; */
  align-self: center;
 
  /* width: 100%; */
}

.animationDiv {
  width: 30rem;
  height: 30rem;
  z-index: -1;
}