.projectsDiv {
  display: flex;
  flex-direction: column;
  padding: 4% 10% 10% 10%;
  gap: 4rem;
}

.projectsTitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projectsTitle > div:first-child {
  color: var(--LBI);
  font-weight: 500;
}

.projectsTitle > div:nth-child(2) {
  font-size: 3rem;
  font-weight: 600;
}

.projectsLists {
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;  
}

.projectDiv {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--Secondary_background);
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  box-shadow: 0 5px 5px #666666;
}

.projectImg {
  display: flex;
  align-items: center;
  /* height: fit-content; */
  width: 50%;
}

.projectImg > img {
 width: 100%;
 border-radius: 10px;
 /* border: 5px solid #666666; */
}

.projectInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.projectTitle {
  font-size: 30px;
  font-weight: 600;
  color: var(--LBI);
  padding: 1.2rem 0 1.2rem 1.2rem;
}

.projectInfoInner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 0 2rem;
  color: #b4afaf;
}

.projectDescript {
  color: var(--Text);
}

.toolsImg{
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}
.toolsImg > img {
  width: 35px;
}

.LinksIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 0 0;
}

.Prjtlinks {
  text-decoration: none;
}


.githubLink, .liveLinkDiv {
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  background-color: #666666;
  padding: 10px;
}

.githubLink > svg{
  width: 25px;
  height: 25px;
}

.githubLink > div, .liveLinkDiv > div {
  font-weight: 600;
  color: var(--LBI)
}

.liveLink {
  width: 22px;
  height: 22px;
  color: var(--LBI);
}

.githubLink:hover, .liveLinkDiv:hover {
  cursor: pointer;
  background-color: rgb(136, 134, 134);
}