.projectsDiv {
  display: flex;
  flex-direction: column;
  padding: 5% 10% 10% 10%;
  gap: 4rem;
}

.projectsTitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projectsTitle > div:first-child {
  color: var(--LBI);
  font-weight: 500;
}

.projectsTitle > div:nth-child(2) {
  font-size: 3rem;
  font-weight: 600;
}

.projectsLists {
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;  
}

.projectDiv {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
}

.projectImg {
  display: flex;
  align-items: center;
  width: 40%;
}

.projectImg > img {
 width: 90%;
 border-radius: 10px;
}

.projectInfo {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
}

.projectTitle {
  font-size: 30px;
  font-weight: 600;
  color: var(--LBI);
  padding: 1.2rem 0 1.2rem 1.2rem;
}

.projectInfoInner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 0 2rem;
  color: #b4afaf;
}

.projectDescript {
  color: var(--LBI);
}

.toolsImg{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}
.toolsImg > img {
  width: 10%;
  max-width: 35px;
}

.LinksIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0 0 0;
}

.Prjtlinks {
  text-decoration: none;
}


.githubLink, .liveLinkDiv {
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 10px;
  background-color: #666666;
  padding: 10px;
}

.githubLink > svg{
  width: 25px;
  height: 25px;
}

.githubLink > div, .liveLinkDiv > div {
  font-weight: 600;
  color: var(--LBI)
}

.liveLink {
  width: 22px;
  height: 22px;
  color: var(--LBI);
}

.githubLink:hover, .liveLinkDiv:hover {
  cursor: pointer;
  background-color: rgb(136, 134, 134);
}

.highlight {
  color: var(--Text);
}

@media only screen and (max-width: 1500px) {
  .projectsDiv {
    padding-top: 5rem;
  }

  .projectDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projectDiv > div {
    display: flex;
    justify-content: center;
  }

  .projectsTitle {
    padding: 0;
    text-align: center;
  }
  
  .projectInfo {
    max-width: none;
  }

  .projectTitle {
    text-align: center;
    padding: 1.2rem 0;
  }

  .projectInfoInner {
    padding: 0;
  }
}