.contactDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 10% 7% 10%;
  gap: 1.2rem;
}

.miniTitle {
  color: var(--LBI);
  font-weight: 500;
  text-align: center;
}

.contactTitle {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.outro {
  text-align: center;
  padding-top: 1rem;
  color: var(--LBI);
  width: 60%;
}

.externalLinks {
  display: flex;
  gap: 10px;
  padding-top: 2rem;
}

.githubLink > svg,
.linkedInLink > svg,
.emailLink {
  color: var(--Text);
  fill: var(--Text);
  width: 25px;
  height: 25px;
}

.emailLink > * {
  width: 25px;
  height: 25px;
}

.externalLinks > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--Secondary_background);
}

.externalLinks > a > div:hover {
  color: var(--LBI);
}

.externalLinks > a > div > svg:hover {
  fill: var(--LBI);
}

.resumeLink {
  text-decoration: none;
  color: var(--Text);
}

.resumeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
  background-color: var(--Secondary_background);
}

.downloadBtn {
  width: 25px;
}

.resumeBtn:hover {
  cursor: pointer;
  background-color: #61656c7e;
  color: var(--LBI);
}

@media only screen and (max-width: 1040px) {
  .outro {
    width: 100%;
  }
}
