.ExpDiv {
  display: flex;
  flex-direction: column;
  padding: 6% 10% 10% 10%;
  gap: 1.2rem;
}

.expTitle {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.expTitle > div:first-child {
  color: var(--LBI);
  font-weight: 500;
}

.expTitle > div:nth-child(2) {
  font-size: 3rem;
  font-weight: 600;
}

.workListingDiv {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 3rem 0 3rem;
}

@media only screen and (max-width: 850px) {
  .ExpDiv {
    padding: 20% 6% 10% 6%;
  }

  .workListingDiv {
    display: flex;
    flex-direction: column;
    padding: 3rem 0.5rem 0 0.5rem;
  }
}